:root{
    --size: 12;
    --wd-size: 300px
}
body{
    text-align: center;
    box-sizing: border-box;
}
h1{
    margin:auto;
    padding:30px 0
}
.grid:after{
    content: "";
    display: table;
    clear:both
}
.grid{
    width: var(--wd-size);
    height:var(--wd-size);
    margin:auto;
    border:3px solid grey;
    box-sizing: border-box;
}

.cell-grid{
    box-sizing: border-box;
    width:calc(100% / var(--size));
    height:calc(100% / var(--size));
    float: left;
    border:1px solid lightgray;
    background-color:#fff;
    position: relative;
}
.cell-grid:hover{
    cursor:pointer
}
.cell-grid.purple{
    color:white;
    animation: toBig 500ms ease-in;
}

.cell-value{
    position: absolute;
    display: block;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}

button{
    padding:10px 20px;
    border-radius:8px;
    font-size: 15px;
    cursor: pointer;
    transition: all 75ms ease-in;
    border:none;
    background-color:rgb(242, 242, 242);
}
button:active{
    color:white;
    background-color:rgb(207, 217, 218);
    box-shadow: 0px 5px 10px 1px rgba(63, 63, 63, 0.1);
    transform: translateY(5px);
    cursor: pointer;
}
button:focus{
    outline:none;
}